* {
  box-sizing: border-box; }

html, body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0; }

.content-box {
  max-width: 700px;
  margin-top: 20vh; }

.container {
  max-width: 960px; }

.card-deck .card {
  min-width: 220px; }
